/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  .top {
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
    color: #FFFFFF; 
    width: 100%;
    box-sizing: border-box;
    height: 480px;
    background-color: #3D4435; 
      }
  .title { 
    display: flex;
    align-self: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    width: 243;
   
          }
.head {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 20px;
    gap: 260px;
    margin-left: 50px;
    width: 875px;
              }
.home {
    display: flex;
    width: 750px;
    height: 70px;
    align-items: center;
    gap: 35px;
    font-size: 19px;
    margin-left: 20px;
        }

.socialmedia {
    display: flex;
    width: 350px;
    height: 70px;
}
.log {
    display: flex;
    width: 270px;
    font-size: 18px;
    margin-left:1090px;
    margin-top: -95px;
        }
.login {
    padding: 8px;
}
.work {
    width: 163px;
    height: 55px;
    padding: 10px 30px;
    background-color: #C2C8CC;
    color: #000000;
     
}
.middle {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 130px;   
 height: 245px;
 margin-left: 50px;
 gap: 16px;
 color: #FFFFFF;
 }
 .first {
    font-size: 19px;
     }
.second {
   display: flex;
   flex-direction: column;
   font-size: 45px;
}
 .second1 {
    width: 530px;
    padding-left: 30px;
    padding-top: 20px;
            }
 .second2 {
    display: flex;
    margin-top: 0px;
    align-content: flex-start;
    padding: 0px 70px;
    width: 530px;
    height: 70px;
       
 }
 .frontimage {
    background-image: 
 }